
.sticky-note {
    -fx-background-color: #ffe082; 
    -fx-border-color: #fbc02d; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
	-fx-margin: 0px, 20px;
    -fx-font-family: "Comic Sans MS", cursive;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 5); 
}

.sticky-note .text-area {
    -fx-background-color: transparent; 
    -fx-control-inner-background: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.sticky-note .text-field {
    -fx-background-color: transparent; 
    -fx-control-inner-background: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}